@model Questionnaire.WebSite.Models.PluginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Анкетирование (плагин)</title>
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsproj")

    <script src="@Url.Content("~/Scripts/Questionnaire.js")" type="text/javascript"></script>
</head>
<body>
    @Html.Hidden("hdnCharter", Model.CharterID, new { id = "hdnCharter" })
    @Html.Hidden("hdnVoting", 0, new { id = "hdnVoting" })
    @Html.Hidden("hdnReady", 1, new { id = "hdnReady" }) 

    <div id="winContent"></div>
</body>
</html>
