@model Questionnaire.WebSite.Models.RoleModel

<script>
    setAjaxForm("popupContent");
    $("#titlePopup").text('Добавление/Редактирование роли');
</script>

@using (Html.BeginForm("EditRole", "Admin", FormMethod.Post, new { id = "ajaxForm" }))
{
    <div class="question">
        <span>Роль:</span><br>
        @Html.TextBoxFor(x => x.Name)
        @Html.HiddenFor(m => m.ID)
        @Html.Hidden("IsNew", (Boolean)ViewBag.IsNew)
    </div>

    <div id="listAnswers">
    @for (Int32 i = 0; i < Model.Permissions.Count; i++)
    {
        <div class="permission_pop_up answer">
            <div class="answer_item">
                @Html.HiddenFor(x => x.Permissions[i].ID)
                @Html.CheckBoxFor(x => x.Permissions[i].IsChecked)
                <span>@Model.Permissions[i].Value</span>
            </div>
        </div>
    }
    </div>
    
    <div class="buttons_botoom">
        <a href="#" onclick="$(this).closest('form').submit(); return false;"><div class="save_button">Сохранить</div></a>
    </div>
}