@model Questionnaire.WebSite.Models.IPAddressModel

<script>
    setAjaxForm("popupContent");
    $("#titlePopup").text('Добавление/Редактирование IP организаций');
</script>

@using (Html.BeginForm("EditIPAddress", "Admin", FormMethod.Post, new { id = "ajaxForm" }))
{
    <div class="answer_pop_up answer">
        <div class="answer_item">
            @Html.HiddenFor(m => m.ID)
            @Html.Hidden("IsNew", (Boolean)ViewBag.IsNew)
            <span class="ttl">Название организации:</span>
            @Html.TextBoxFor(m => m.NameOrganization, new { @class = "nameOrganization" })
            @Html.ValidationMessageFor(m => m.NameOrganization)
        </div>

        <div class="answer_item">
            <span class="ttl">IP&nbsp;адрес:</span>
            @Html.TextBoxFor(m => m.IPAddress, new { @class = "ipAddress" })
            @Html.ValidationMessageFor(m => m.IPAddress)
        </div>
    </div>
        
    <div class="buttons_botoom">
        <a href="#" onclick="$(this).closest('form').submit(); return false;"><div class="save_button">Сохранить</div></a>
    </div>
}